<div class="container">
  <div class="navbar">
    <div class="img-wrapper"><img src="../../../assets/logo.png" alt="" /></div>
    <ul *ngIf="isLogged; else noLogged">
      <li><a mat-button color="primary" routerLink="/home-auth">home</a></li>
      <li><a mat-button color="primary" routerLink="/villa/add">add villas ..</a></li>
      <!-- <li><a routerLink="/login">loginn</a></li>
    <li><a routerLink="/register">register</a></li> -->
      <li>
        <a mat-button color="primary" (click)="logout()">logout</a>
      </li>
      <li>
        <a mat-button color="primary" routerLink="/user/profile">Hello, {{ user?.name }}</a>
      </li>
    </ul>
    <ng-template #noLogged>
      <ul>
        <li><a mat-button color="primary" routerLink="/">home</a></li>
        <li><a mat-button color="primary" routerLink="/login">login</a></li>
        <li><a mat-button color="primary" routerLink="/register">register</a></li>
      </ul>
    </ng-template>
  </div>
</div>
