<div class="container">
  <div class="title">
    <h1>{{ currentVilla?.name }} - {{ currentVilla?.region }}</h1>
  </div>
  <div class="caroussel" *ngIf="currentVilla?.imageUrl">
    <app-carousel [carouselItems]="carouselItems"></app-carousel>
  </div>
  <section class="badges">
    <mat-chip-list aria-label="villas info">
      <ng-template #available><mat-chip color="primary" selected>available</mat-chip></ng-template>
      <ng-template #unavailable><mat-chip color="warn" selected>sold out</mat-chip></ng-template>
      <ng-container *ngTemplateOutlet="!!currentVilla?.reservationId ? unavailable : available"></ng-container>
    </mat-chip-list>
    <button
      class="like"
      *ngIf="toLike"
      mat-raised-button
      color="primary"
      [matBadge]="likesNumber"
      matBadgePosition="after"
      matBadgeColor="accent"
      (click)="likeHandler()"
    >
      Like
    </button>
    <button
      class="like"
      *ngIf="toDislike"
      mat-raised-button
      color="primary"
      [matBadge]="likesNumber"
      matBadgePosition="after"
      matBadgeColor="accent"
      (click)="disLikeHandler()"
    >
      Dislike
    </button>
    <!-- <button *ngIf="toLike" (click)="likeHandler()">Like</button>
    <button *ngIf="toDislike" (click)="disLikeHandler()">Dislike</button>
    <div class="likes">Likes: {{ likesNumber }}</div> -->
  </section>
  <section class="description">
    <article class="description-text">
      <h2>details & description:</h2>
      {{ currentVilla?.description }}
    </article>
    <article class="description-price">
      <div class="title">Price</div>
      <div class="price">{{ currentVilla?.price }} Eur</div>
      <div class="date">form {{ currentVilla?.date }}</div>
      <div class="nights">stay {{ currentVilla?.nights }} nights</div>
    </article>
  </section>
  <section class="price-description">
    <article class="price-description-text">
      <h2>price terms & conditation:</h2>
      <div>available stay from {{ currentVilla?.date }} for {{ currentVilla?.nights }}</div>
      <div>policy: {{ currentVilla?.priceDescription }}</div>
      <div>maximum accommodation: {{ currentVilla?.beds }} person</div>
      <div>price for stay: {{ currentVilla?.price }}</div>
    </article>
    <article class="price-description-maps">
      <div class="map-wrapper">
        <!-- <img [src]="currentVilla?.imageUrl" alt="" class="src" /> -->
        <ng-container *ngIf="currentVilla?.coordinates?.lat && currentVilla?.coordinates?.lng">
          <app-map
            [lat]="+currentVilla?.coordinates?.lat"
            [lng]="+currentVilla?.coordinates?.lng"
            zoom="12"
            [hasMarker]="true"
          ></app-map>
        </ng-container>
      </div>
    </article>
  </section>
  <section class="buttons">
    <button mat-raised-button (click)="backHandler()">Back</button>
    <button
      mat-raised-button
      color="primary"
      [routerLink]="['/villa/book', currentVilla?._id]"
      [state]="{ villa: currentVilla }"
      [disabled]="isBooked || isOwner"
    >
      to Book
    </button>
    <!-- <button mat-raised-button color="primary" (click)="clickToBookHandler()">to Book</button> -->
  </section>
</div>
<!-- <div class="name">{{ currentVilla?.name }}</div>
<div class="description">{{ currentVilla?.description }}</div>
<div class="price">price per stay{{ currentVilla?.price }} - Eur</div>
<div class="price-descrp">{{ currentVilla?.priceDescription }}</div>
<div class="date">from {{ currentVilla?.date }} for {{ currentVilla?.nights }} nights</div>
<div class="likes">Likes: {{ likesNumber }}</div>
<ng-template #availible> <div>availible</div></ng-template>
<ng-template #unavailible><div>unavailible</div></ng-template>
<ng-container *ngTemplateOutlet="currentVilla?.reservationId ? availible : unavailible"></ng-container> -->
<!-- <div *ngIf="currentVilla?.reservationId">unavailible</div>
<div *ngIf="!currentVilla?.reservationId">availible</div> -->
<!-- <button *ngIf="toLike" (click)="likeHandler()">Like</button>
<button *ngIf="toDislike" (click)="disLikeHandler()">Dislike</button>
<button (click)="clickToBookHandler()" [disabled]="isBooked || isOwner">to Book</button>
<button *ngIf="goBack" (click)="backHandler()">Back</button> -->
<!-- <div class="book" *ngIf="toBook"> -->
<!-- <form #bookForm="ngForm" (ngSubmit)="bookNow(bookForm)">
    <div *ngFor="let pax of [].constructor(currentVilla?.beds); let i = index">
      <label for="tourist{{ i }}_1">{{ i + 1 }} - tourist name </label> -->
<!-- [ngModel]="touristObj['tourist' + [i] + '_1']" -->
<!-- <input
        type="text"
        ngModel
        #touristNameInput{{i}}_1="ngModel"
        type="text"
        name="tourist{{ i }}_1"
        id="tourist{{ i }}_1"
      />
      [ngModel]="touristObj['tourist' + [i] + '_2']"
      <input
        type="text"
        ngModel
        #touristNameInput{{i}}_2="ngModel"
        type="text"
        name="tourist{{ i }}_2"
        id="tourist{{ i }}_2"
      />
    </div>
    <button>Book now</button>
  </form> -->
<!-- </div> -->
