<div class="container">
  <h1>Add your property</h1>
  <!-- <form #villaFormInput="ngForm" (ngSubmit)="submitHandler(villaFormInput.value)"> -->
  <form #villaFormInput="ngForm">
    <!-- <form #villaFormInput="ngForm" (ngSubmit)="submitHandler($event)"> -->
    <div>
      <mat-form-field appearance="standard">
        <mat-label>Property name</mat-label>
        <input matInput type="text" #nameInput="ngModel" ngModel name="name" id="name" required />
        <mat-error *ngIf="nameInput.errors?.required && nameInput.touched">Please enter property name</mat-error>
      </mat-form-field>
      <!-- <label for="name">Property name</label>
      <input type="text" #nameInput="ngModel" ngModel name="name" id="name" /> -->
    </div>
    <div>
      <mat-form-field appearance="standard">
        <mat-label>Region</mat-label>
        <input matInput type="text" #regionInput="ngModel" ngModel name="region" id="region" required />
        <mat-error *ngIf="regionInput.errors?.required && regionInput.touched">Please enter region name</mat-error>
      </mat-form-field>
      <!-- <label for="region">Region</label>
      <input type="text" #regionInput="ngModel" ngModel name="region" id="region" /> -->
    </div>
    <div>
      <mat-form-field appearance="standard">
        <mat-label>Chek-in</mat-label>
        <input matInput type="date" #dateInput="ngModel" ngModel name="date" id="date" required />
        <mat-error *ngIf="dateInput.errors?.required && dateInput.touched">Please enter date</mat-error>
      </mat-form-field>
      <!-- <label for="date">Chek-in</label>
      <input type="date" #dateInput="ngModel" ngModel name="date" id="date" /> -->
    </div>
    <div>
      <mat-form-field appearance="standard">
        <mat-label>Beds</mat-label>
        <input matInput type="number" #bedsInput="ngModel" ngModel name="beds" id="beds" required />
        <mat-error *ngIf="bedsInput.errors?.required && bedsInput.touched"
          >Please enter number of maximum occupation</mat-error
        >
      </mat-form-field>
      <!-- <label for="beds">Beds</label>
      <input type="number" #bedsInput="ngModel" ngModel name="beds" id="beds" /> -->
    </div>
    <div>
      <mat-form-field appearance="standard">
        <mat-label>Nights</mat-label>
        <input matInput type="number" #nightsInput="ngModel" ngModel name="nights" id="nights" required />
        <mat-error *ngIf="nightsInput.errors?.required && nightsInput.touched">Please enter number of nights</mat-error>
      </mat-form-field>
      <!-- <label for="nights">Nights</label>
      <input type="number" #nightsInput="ngModel" ngModel name="nights" id="nights" /> -->
    </div>
    <div>
      <mat-form-field appearance="standard">
        <mat-label>Price</mat-label>
        <input matInput type="number" #priceInput="ngModel" ngModel name="price" id="price" required />
        <mat-error *ngIf="priceInput.errors?.required && priceInput.touched">Please enter number price</mat-error>
      </mat-form-field>
      <!-- <label for="price">Price</label>
      <input type="number" #priceInput="ngModel" ngModel name="price" id="price" /> -->
    </div>
    <div>
      <mat-form-field appearance="standard">
        <mat-label>Payment policy</mat-label>
        <textarea
          matInput
          #priceDescriptionInput="ngModel"
          ngModel
          name="priceDescription"
          id="priceDescription"
          rows="3"
          required
        ></textarea>
      </mat-form-field>
      <mat-error *ngIf="priceDescriptionInput.errors?.required && priceDescriptionInput.touched"
        >Please enter payment policy</mat-error
      >
      <!-- <label for="priceDescription">Price description</label>
      <input type="textarea" #priceDescriptionInput="ngModel" ngModel name="priceDescription" id="priceDescription" /> -->
    </div>
    <div>
      <mat-form-field appearance="standard">
        <mat-label>Property description</mat-label>
        <textarea matInput #descriptionInput="ngModel" ngModel name="description" id="description" rows="4" required>
        <mat-error *ngIf="descriptionInput.errors?.required && descriptionInput.touched">Please enter description of property</mat-error>
        </textarea>
      </mat-form-field>
      <!-- <label for="description">Property description</label>
      <input type="textarea" #descriptionInput="ngModel" ngModel name="description" id="description" /> -->
    </div>
    <div>
      <!-- <mat-form-field appearance="standard">
        <mat-label>Image 1</mat-label>
        <input matInput type="text" #imageurlInput="ngModel" ngModel name="imageUrl" id="imageurl" required />
        <mat-error *ngIf="imageurlInput.errors?.required && imageurlInput.touched"
          >Please enter a one photo at least</mat-error
        >
      </mat-form-field> -->
      <app-image-upload num="1" (urlOutput)="getUploadedImageUrl($event, 1)"></app-image-upload>
      <!-- <img *ngIf="imageUrl" [src]="imageUrl" [alt]="nameInput" max-width="450px" /> -->
      <!-- <label for="imageurl">Image 1</label>
      <input type="text" #imageurlInput="ngModel" ngModel name="imageUrl" id="imageurl" /> -->
    </div>
    <div>
      <!-- <mat-form-field appearance="standard"> -->
      <!-- <mat-label>Image 2</mat-label> -->
      <!-- <input matInput type="text" #imageurl2Input="ngModel" [ngModel]="imageUrl2" name="imageUrl2" id="imageurl2" /> -->
      <app-image-upload num="2" (urlOutput)="getUploadedImageUrl($event, 2)"></app-image-upload>
      <!-- <img *ngIf="imageUrl2" [src]="imageUrl2" [alt]="nameInput + '2'" max-width="450px" /> -->
      <!-- </mat-form-field> -->
      <!-- <label for="imageurl2">Image 2</label>
      <input type="text" #imageurl2Input="ngModel" ngModel name="imageUrl2" id="imageurl2" /> -->
    </div>
    <div>
      <!-- <mat-form-field appearance="standard">
        <mat-label>Image 3</mat-label>
        <input matInput type="text" #imageurl3Input="ngModel" ngModel name="imageUrl3" id="imageurl3" />
      </mat-form-field> -->
      <app-image-upload num="3" (urlOutput)="getUploadedImageUrl($event, 3)"></app-image-upload>

      <!-- <label for="imageurl3">Image 3</label>
      <input type="text" #imageurl3Input="ngModel" ngModel name="imageUrl3" id="imageurl3" /> -->
    </div>
    <!-- <div>
      <mat-form-field appearance="standard">
        <mat-label>Latitude</mat-label>
        <input matInput type="text" #latInput="ngModel" ngModel name="lat" id="lat" />
      </mat-form-field> -->
    <!-- <label for="lat">Latitude</label>
      <input type="text" #latInput="ngModel" ngModel name="lat" id="lat" /> -->
    <!-- </div> -->
    <!-- <div>
      <mat-form-field appearance="standard">
        <mat-label>Lonngitude</mat-label>
        <input matInput type="text" #lngInput="ngModel" ngModel name="lng" id="lng" />
      </mat-form-field> -->
    <!-- <label for="lng">Lonngitude</label>
      <input type="text" #lngInput="ngModel" ngModel name="lng" id="lng" /> -->
    <!-- </div> -->
    <div class="map-wrapper">
      <app-map
        (coordinates)="eventCoordinates($event)"
        [lat]="45.58329"
        [lng]="16.321874"
        [hasMarker]="false"
      ></app-map>
    </div>
    <div class="buttons-wrap">
      <button mat-raised-button (click)="goBackHandler()">back</button>
      <button
        mat-raised-button
        color="primary"
        [disabled]="villaFormInput.invalid"
        (click)="submitHandler(villaFormInput.value)"
      >
        Add property
      </button>
    </div>
  </form>
  <div class="error" *ngIf="errMsg">{{ errMsg }}</div>
</div>
<!-- const { name, region, date, beds, nights, price, priceDescription, description, imageUrl, imageUrl2, imageUrl3, coordinates } = req.body; -->
