<section>
  <form #loginform="ngForm" (ngSubmit)="handleLogin(loginform.value)">
    <!-- <h1>Login form</h1> -->
    <mat-form-field appearance="fill">
      <mat-label>enter your email</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        ngModel
        type="text"
        name="email"
        id="email"
        #emailInput="ngModel"
        required
        [pattern]="emailRegex"
      />
      <mat-error *ngIf="emailInput.errors?.required && emailInput.touched">Please enter email</mat-error>
      <mat-error *ngIf="emailInput.errors?.pattern && emailInput.touched">Please enter valid email</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>type your password</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        placeholder="*********"
        ngModel
        type="text"
        name="password"
        id="password"
        #passwordInput="ngModel"
        required
        minlength="5"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="passwordInput.errors?.required && passwordInput.touched">Please enter password</mat-error>
      <mat-error *ngIf="passwordInput.errors?.minlength && passwordInput.touched">
        Please enter valid password min length should be 5 symbols!</mat-error
      >
    </mat-form-field>
    <!-- <div class="email">
      <label for="email">e-mail: </label>
      <input ngModel type="text" name="email" id="email" #emailInput="ngModel" required [pattern]="emailRegex" />
      <div *ngIf="emailInput.errors?.required && emailInput.touched">Please enter email</div>
      <div *ngIf="emailInput.errors?.pattern && emailInput.touched">Please enter valid email</div>
    </div> -->
    <!-- <div class="password">
      <label for="password">password: </label>
      <input ngModel type="text" name="password" id="password" #passwordInput="ngModel" required minlength="5" />
      <div *ngIf="passwordInput.errors?.required && passwordInput.touched">Please enter password</div>
      <div *ngIf="passwordInput.errors?.minlength && passwordInput.touched">
        Please enter valid password min length should be 5 symbols!
      </div>
    </div> -->
    <div class="error" *ngIf="errMessage">{{ errMessage }}</div>
    <button mat-raised-button color="primary" [disabled]="loginform.invalid">Login</button>
    <div class="info">If you don't have an account please <a routerLink="/register">register</a> first</div>
  </form>
</section>
