div.container {
  width: 40%;
  margin: 10px auto;
}
/* form > div {
  width: 100%;
  margin: 0 auto;
} */
mat-form-field,
app-image-upload {
  width: 80%;
  margin: 0 auto;
  font-size: 18px;
}
button {
  text-align: center;
  font-size: 20px;
  width: 200px;
  margin-bottom: 20px;
}
div.error {
  color: red;
  font-size: 18px;
}
div.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: center;
}
button.modal {
  background: red;
}
div.map-wrapper {
  height: 400px;
  width: 800px;
  margin-bottom: 10px;
}

div.img-wrapper {
  max-width: 80%;
}
img {
  max-width: 610px;
}
form {
  display: flex;
  flex-direction: column;
  /* max-width: 770px; */
}
button.edit-btn {
  align-self: center;
}
