<section>
  <form #registerForm="ngForm" (ngSubmit)="handleRegister(registerForm.value)">
    <h1>Registration form</h1>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Name: </mat-label>
        <input
          matInput
          placeholder="Vassil Shterev"
          type="text"
          #nameInput="ngModel"
          ngModel
          required
          id="name"
          name="name"
          [pattern]="nameRegex"
        />
        <mat-error *ngIf="nameInput.errors?.required && nameInput.touched">Please enter name</mat-error>
        <mat-error *ngIf="nameInput.errors?.pattern && nameInput.touched"
          >Please enter name - input only english letters</mat-error
        >
      </mat-form-field>
      <!-- <label for="name">Name: </label>
      <input type="text" #nameInput="ngModel" ngModel required id="name" name="name" [pattern]="nameRegex" />
      <div *ngIf="nameInput.errors?.required && nameInput.touched">Please enter name</div>
      <div *ngIf="nameInput.errors?.pattern && nameInput.touched">Please enter name - input only english letters</div> -->
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Email: </mat-label>
        <input
          matInput
          placeholder="your@email.com"
          type="text"
          #emailInput="ngModel"
          ngModel
          required
          id="email"
          name="email"
          [pattern]="emailRegex"
        />
        <mat-error *ngIf="emailInput.errors?.required && emailInput.touched">Please enter email</mat-error>
        <mat-error *ngIf="emailInput.errors?.pattern && emailInput.touched">Please enter valid email</mat-error>
      </mat-form-field>
      <!-- <label for="email">Email: </label>
      <input type="text" #emailInput="ngModel" ngModel required id="email" name="email" [pattern]="emailRegex" />
      <div *ngIf="emailInput.errors?.required && emailInput.touched">Please enter email</div>
      <div *ngIf="emailInput.errors?.pattern && emailInput.touched">Please enter valid email</div> -->
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Password:</mat-label>
        <input
          matInput
          placeholder="***************"
          type="password"
          #passwordInput="ngModel"
          ngModel
          required
          id="password"
          name="password"
          minlength="5"
        />
        <mat-error *ngIf="passwordInput.errors?.required && passwordInput.touched">Please enter password</mat-error>
        <mat-error *ngIf="passwordInput.errors?.minlength && passwordInput.touched">
          Please enter valid password - should contains minimum 5 symbols
        </mat-error>
      </mat-form-field>
      <!-- <label for="password">Password: </label>
      <input type="text" #passwordInput="ngModel" ngModel required id="password" name="password" minlength="5" />
      <div *ngIf="passwordInput.errors?.required && passwordInput.touched">Please enter password</div>
      <div *ngIf="passwordInput.errors?.minlength && passwordInput.touched">
        Please enter valid password - should contains minimum 5 symbols
      </div> -->
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Re-password: </mat-label>
        <input
          matInput
          placeholder="***************"
          type="password"
          #rePasswordInput="ngModel"
          ngModel
          required
          id="rePassword"
          name="rePassword"
        />
        <mat-error *ngIf="rePasswordInput.errors?.required && rePasswordInput.touched"
          >Please confirm your password</mat-error
        >
        <mat-error
          *ngIf="
            !rePasswordInput.errors?.required &&
            rePasswordInput.touched &&
            !rePasswordInput.pristine &&
            rePasswordInput.value !== passwordInput.value
          "
        >
          Passwords don't match
        </mat-error>
      </mat-form-field>

      <!-- <label for="rePassword">Re-password: </label>
      <input type="text" #rePasswordInput="ngModel" ngModel required id="rePassword" name="rePassword" />
      <div *ngIf="rePasswordInput.errors?.required && rePasswordInput.touched">Please confirm your password</div>
      <div
        *ngIf="
          !rePasswordInput.errors?.required &&
          rePasswordInput.touched &&
          !rePasswordInput.pristine &&
          rePasswordInput.value !== passwordInput.value
        "
      >
        Passwords don't match
      </div> -->
    </div>
    <button
      mat-raised-button
      color="primary"
      [disabled]="registerForm.invalid || (rePasswordInput.value !== passwordInput.value && rePasswordInput.touched)"
    >
      Register
    </button>
    <mat-error class="error" *ngIf="errMessage">{{ errMessage }}</mat-error>
  </form>
  <!-- {{ registerForm | json }} -->
</section>
